<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJohYWiQ8dbM3G1h2X4_ewpy9R-Uw8750</string>
	<key>GCM_SENDER_ID</key>
	<string>803131178140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stabcorp.quizzard</string>
	<key>PROJECT_ID</key>
	<string>quizzard-e1340</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzard-e1340.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803131178140:ios:f7a5c9c3275a503aa68159</string>
</dict>
</plist>